/*
Theme Name: Tu Tu Web
Text Domain: tutuweb
Version: 1.9
Tested up to: 5.9
Requires at least: 4.7
Requires PHP: 5.2.4
Description: This is Web Tu Tu
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-patterns, block-styles, wide-blocks, accessibility-ready
Author: Tu Tu
Author URI: https://www.facebook.com/camtu.tran.2502/
Theme URI: https://wordpress.org/themes/tutuweb/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*  Global style css */

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #DF01D7;
    text-decoration: underline;
}
a:hover {
    color: #6A0888;
    text-decoration: underline;
}
input, input[type="submit"], button {
    border: 1px solid #c8c8c8 !important; 
    padding: 5px 10px;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.55em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.1em;
}
table, table tr, table tg {
    border: 1px solid #e7e7e7;
    padding: 6px;
}

/* Columns */

#container {
    width: 1024px;
    margin: auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 10px 25px;
}
.content {
    overflow: hidden;
}
#main-content {
    width: 620px;
    float: left;
    margin-right: 10px;
}
#sidebar {
    width: 320px;
    float: right;
    /* margin-left: 20px;
    margin-right: 20px; */
}

/* Header */
/* Logo */
.logo {
    margin-bottom: 30px;
    line-height: 2em;
}
.logo .site-name{}
.logo .site-name h1{
    margin: 0;
    font-size: 0;
}
.logo .site-name a {
    color: #4681Da;
    font-size: 32px;
    font-weight: bold;
}
.logo .site-description {
    margin-top: -1em;
    color: #868686;
    font-family: serif;
    font-size: 1.04em;
    font-style: italic;
}
/*Primary menu */
.primary-menu:after {
    display: table;
    content: " ";
    clear: both;
    background:#fff;
}

.primary-menu ul {
    border: 1px solid #000;
    -moz-box-shadow : inset 1px 1px 0 rgba(255, 255, 0.2);
    -wibkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-top(0%, #FAFAFA), color-top(100%, #A4A4A4));
    background: -webkit-radial-gradient(#FAFAFA 0%, #A4A4A4 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}

.primary-menu ul li,
.primary-menu ul li ul li {
    -moz-box-shadow : inswr 1px 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255,0.2);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255,0.2);
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA 0%), #A4A4A4 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(#FAFAFA 0%, #A4A4A4 100%);
    background:  linear-gradient(#FAFAFA 0%, #A4A4A4 100%);
}

.primary-menu ul li a {
    color: #DF01D7;
    border-top: none;
    border-left: none;
}

.primary-menu ul li a:hover,
.primary-menu ul li.sfHover {
    background: #A4A4A4;
}

.primary-menu ul li ul {
    width: auto;
}

/* Post Style */
.post,
.movies {
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
}

.post .entry-thumbnail,
.movies .entry-thumbnail {
    width: 150px;
    float: left;
    margin: 2.2em 2em 1em 0;
}

.post .post-thumbnail,
.movies .post-thumbnail {
    margin: 0;
}

.post .entry-content,
.post .entry-header
{
    padding-left: 180px;
}

.post .entry-content,
.movies .entry-content
{
    text-align: justify;
}

.post a.read-more,
.movies a.read-more
{
    display: table;
    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 1px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ECCEF5), color-stop(1, #ECCEF5));
    background: -moz-linear-gradient(top, #ECCEF5 5%, #DA81F5 100%);
    background: -webkit-linear-gradient(top, #ECCEF5 5%, #DA81F5 100%);
    background: -o-linear-gradient(top, #ECCEF5 5%, #DA81F5 100%);
    background: -ms-linear-gradient(top, #ECCEF5 5%, #DA81F5 100%);
    background: linear-gradient(to bottom, #ECCEF5 5%, #DA81F5 100%);
    filter: progid:DXIImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #ECCEF5;
    -moz-boder-radius : 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #942911;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    margin-top: 10px;
}
.post a.read-more:hover,
.movies a.read-more:hover
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DA81F5), color-stop(1, #6A0888));
    background: -moz-linear-gradient(top, #DA81F5 5%, #6A0888 100%);
    background: -webkit-linear-gradient(top, #DA81F5 5%, #6A0888 100%);
    background: -o-linear-gradient(top, #DA81F5 5%, #6A0888 100%);
    background: -ms-linear-gradient(top, #DA81F5 5%, #6A0888 100% );
    background: linear-gradient(to bottom, #DA81F5 5%, #6A0888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(stảtColorstr='#bc3315', endColors='#d0451b', GradientType=0);
    background-color: #DA81F5;
}
.post a.read-more:active,
.movies a.read-more:active
{
    position: relative;
    top: 1px;
}

.single .post .entry-content,
.single .post .entry-header
{
    padding-left: 0px;
}

.single .entry-thumbnail {
    display: none;
}

.entry-meta {
    font-family: serif;
    font-size: 16px;
    color: blueviolet;
}
.entry-meta a {
    color: blueviolet;
}
.entry-tag {
    font-weight: bold;
}

/* Authour Box */

.author-box {
    overflow: hidden;
    background: #f3f3f3;
    padding: 10px 25px;
    margin: 15px 0px;
    border: 1px solid #e1e1e1;
}
.author-avatar {
    float:left;
    margin: 17px 25px 0 0;
}
.author-avatar img {
    border-radius:  65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
}
/* Post Format */
.format-video .entry-content,
.format-video .entry-header 
{
    padding-left: 0px;
}

.format-link .entry-content a:hover 
{
    text-decoration: none;
}

/* Format Image */
.entry-content img {
    margin: 0 0 1.5em 0;
}
.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: left;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone, img.alignnone {
    /* */
}
.wp-caption {
    margin-top: 1.5em;
    text-align: center;
    padding: top;
    max-width: 100%;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-right: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/* Sidebar */
#sidebar {
    font-size: 0.9em;
}
#sidebar ul,
#sidebar ol,
#sidebar li {
    margin: 0;
    list-style: none;
    padding: 0;
}
.widget {
    background: #e7e7e7;
    border: 1px solid #e8e8e8;
    padding: 1em;
    margin: 15px 0;
}

.widget ul {
    list-style: none;
    padding-left: 1.7em !important;
}
.widget ul li {
    margin-bottom: 8px !important;
    list-style: square !important;
}

.widget_calendar {}
.widget_calendar table {
    width: 100%;
}
.widget_calendar table #today {
    background: #848484;
    color: #fff;
}
.widget_calendar table caption {
    font-weight: bold;
    font-size: 1.1em;
}
#footer {
    margin-top: 10px;
    background: #A4A4A4;
}
.copyright {
    text-align: center;
}

.custom-field {
    color: #6A0888;
}

.navigation, .pagination {
    float: right;
}

.current {
    color: #4681Da;
}

#container .dropdown-menu p a {
    color: #DF01D7;
    font-size: unset;
    font-weight: unset;
    text-decoration: none ;
}


.button-lang {
    background-color: #FAFAFA;
    color: #DF01D7;
}

.button-lang:hover {
    background-color: #FAFAFA;
    color: #DF01D7;
}