
/*
Theme Name: Tu Tu 26
Text Domain: tutu26
Version: 1.9
Tested up to: 5.9
Requires at least: 4.7
Requires PHP: 5.2.4
Description: This is Web Tu Tu 26
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-patterns, block-styles, wide-blocks, accessibility-ready
Author: Tu Tu
Author URI: https://www.facebook.com/camtu.tran.2502/
Theme URI: https://wordpress.org/themes/tutuweb/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*  Global style css */

.scene-blog .blog-post .card-image img {
    height: 260px;
}

#scene-blog .banner-scene {
    
    background-size: cover; 
}

#blog-details .blog-image img {
    height: 400px;
    width: 100%;
}

.banner-post .parallax-container {
    height: 500px;
}
li:has(.current) {
    background-color: #ba68c8;
}